@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('variables.css');

/*
  Sintaxe do clamp ↓
  clamp(<min>, <pref>, <max>);
  
  É utilizado para responsividade de caracteres
  pref = recomendado o uso de "vw"
*/

p {
    /* font-size: 1rem; */
    font-size: clamp(0.625rem, calc(0.625vw + 1rem), 1rem);
}

h1 {
    /* font-size: 2rem; */
    font-size: clamp(2rem, calc(1.25vw + 1rem), 2rem);
    line-height: 1.35;
}

h2 {
    /* font-size: 1.25rem; */
    font-size: clamp(0.715rem, calc(0.785vw + 1rem), 1.25rem);
}

h3 {
    /* font-size: 1.15rem; */
    font-size: clamp(0.685rem, calc(0.715vw + 1rem), 1.15rem);
}

nav>a {
    color: var(--preto);
    font-size: clamp(0.550rem, calc(0.815vw + 1rem), 1rem);
    text-decoration: none;
    white-space: nowrap;
}

.inter-thin {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 225;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-hard {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button.inter, a.inter, input::placeholder {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav.inter, footer>*.inter {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

footer>p.inter {
    opacity: 70%;
}