#ctaf {
    margin: 0 !important;
    padding: 160px 0px;
    padding-bottom: 800px;
    background-image: url('../../img/background/cta.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#ctaf>* {
    color: var(--preto);
}

#ctaf div {
    padding: 0;
    margin: 0;
    background-color: red;
}

#ctaf>:last-child {
    margin-top: 52px;
}